<a ng-click="login()" ng-show="!contacts" class="btn btn-primary">Login</a> <a ng-show="contacts" href="#/new" class="btn">New</a>
<table width="80%" class="table" ng-show="contacts">
    <thead>
    <tr>
        <th class='hidden-phone'>Id</th>
        <th>Full Name</th>
        <th class='hidden-phone'>Title</th>
        <th>Phone</th>
        <th class='hidden-phone'>Email</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="contact in contacts">
        <td class='hidden-phone'>{{contact.Id}}</td>
        <td>{{contact.FirstName}} {{contact.LastName}}</td>
        <td class='hidden-phone'>{{contact.Title}}</td>
        <td>{{contact.Phone}}</td>
        <td class='hidden-phone'>{{contact.Email}}</td>
        <td>
            <a href="#/edit/{{contact.Id}}"><i class="icon-pencil"></i></a>
        </td>

    </tr>
    </tbody>
</table>