<p>This is a Mobile Pack Demo. <a href="https://github.com/rajaraodv/SFAngularBootStrap">Learn more</a>.</p>

<p>Built with <a href="http://angularjs.org">AngularJS</a> and <a href="http://twitter.github.com/bootstrap">Twitter
    Bootstrap</a>.
</p>

<p>Designed for use with your <a
        href="http://www.developerforce.com/events/regular/registration.php?d=70130000000EjHb">Salesforce
    Developer Edition</a>.</p>

<p>Built by <a href="http://twitter.com/ReidCarlberg">Reid Carlberg</a> and <a
        href="http://twitter.com/rajaraodv">Raja Rao DV</a></p>
